<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
      <div class="container">
        <h1>添加内容</h1>
        <hr>

  <form action="/addMeg" method="get">
  <div class="form-group">
    <label for="exampleInputEmail1">Yon Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" minlength="1" placeholder="Yon Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">magessage</label>
	<textarea name="message" class="form-control" rows="5"></textarea>
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
      </div>

  </body>
</html>
